<article id="article-{{this._id}}" class="article">
   <div class="article__header" data-id="{{this._id}}" data-open="false">
      <h5 class="article__title"><span class="text--gradient-hover">{{this.title}}</span> <span class="text--dim">- {{this.date}}</span></h5>
      <div class="article__toggler-wrap">
         <div id="toggler-{{this._id}}" class="article__toggler article__toggler--closed"></div>
      </div>
   </div>
   <div id="content-{{this._id}}" class="article__content-toggler article__content-toggler--hidden">
      <div class="article__content">
         <p class="article__summary">{{this.summary}} <a href="{{this.link}}" class="article__link" target="_blank">Read More</a></p>
      </div>
   </div>
</article>