<article id="article-{{this._id}}" class="card {{#if this.featured}}card--open{{/if}}">

   <h2 class="card__header">
      <button class="card__header-toggle" data-id="{{this._id}}" aria-controls="content-{{this._id}}"
         {{#if this.featured}}aria-expanded="true" {{else}}aria-expanded="false" {{/if}}>
         <div class="card__title heading heading--6">{{this.title}} <span class="text--dim text--no-wrap">-
               {{this.date}}</span></div>
         {{> toggler-button}}
      </button>
   </h2>

   <div id="content-{{this._id}}" {{#if this.featured}} aria-hidden="false" {{else}} aria-hidden="true" {{/if}}
      class="card__content-toggler {{#if this.featured}}card__content-toggler--visible{{else}}card__content-toggler--hidden{{/if}}">

      <div class="card__content">
         <p><em class="text--dim">Source: <a href="{{this.siteUrl}}" class="link link--primary" target="_blank"
                  rel="noopener noreferrer">{{this.site}} <span class="sr-only">, opens in new tab</span></a></em></p>
         <p class="card__summary">{{this.summary}} <a href="{{this.link}}" class="link link--primary" target="_blank"
               rel="noopener noreferrer">Read more <span class="sr-only">about {{this.title}}, opens in new tab
               </span></a></p>
      </div>

      {{#if this.hasNote}}
      <div class="card__note" id="note-{{this._id}}">
         <p>
         <h3 class="heading heading--6">Article Note</h3>
         </p>
         <p>
            <strong>Title:</strong> <span id="note-title-text-{{this._id}}">{{this.note.title}}</span>
         </p>
         <p>
            <strong>Note:</strong> <span id="note-body-text-{{this._id}}">{{this.note.body}}</span>
         </p>
      </div>
      {{else}}
      <div class="card__note card__note--hidden" id="note-{{this._id}}">
         <h3 class="heading heading--6">Article Note</h3>
         <p>
            <strong>Title:</strong> <span id="note-title-text-{{this._id}}"></span>
         </p>
         <p>
            <strong>Note:</strong> <span id="note-body-text-{{this._id}}"></span>
         </p>
      </div>
      {{/if}}


      <div class="card__footer">
          <button class="btn btn--accent btn--lightBg btn--block btn--save" {{#if this.saved}}data-saved="true"
            {{else}}data-saved="false" {{/if}} data-id="{{this._id}}" data-is-saved-page="{{this.isSavedPage}}">
            <span class="btn__span">
               <span class="text--gradient-accent">
                  {{#if this.saved}}
                  Remove from saved
                  {{else}}
                  ❤ Save
                  {{/if}}
               </span>
            </span>
         </button>
         <button id="add-note-btn-{{this._id}}" class="btn btn--primary btn--lightBg btn--block btn--note"
            data-id="{{this._id}}" data-open="false" data-has-note="{{this.hasNote}}"
            aria-controls="note-wrap-{{this._id}}" aria-expanded="false">
            <span class="btn__span">
               <span class="text--gradient" aria-live="polite">
                  {{#if this.hasNote}}
                  Edit Note
                  {{else}}
                  + Add Note
                  {{/if}}
               </span>
            </span>
         </button>
      </div>
      <div id="note-wrap-{{this._id}}" aria-hidden="true" class="card__content-toggler card__content-toggler--hidden"
         data-open="false">
         <div class="card__content">
            {{> form}}
         </div>
      </div>
   </div>
</article>