<article id="article-{{this._id}}" class="card {{#if this.featured}}card--open{{/if}}">

   <div class="card__header" data-id="{{this._id}}" {{#if this.featured}}data-open="true"{{else}}data-open="false"{{/if}}>
      <h5 class="card__title"><span class="text--gradient-hover">{{this.title}}</span> <span class="text--dim">- {{this.date}}</span></h5>
      {{> toggler-button}}
   </div>

   <div id="content-{{this._id}}" class="card__content-toggler {{#if this.featured}}card__content-toggler--visible{{else}}card__content-toggler--hidden{{/if}}">
      
      <div class="card__content">
         <p><em class="text--dim">Source: <a href="{{this.siteUrl}}" class="link link--primary" target="_blank">{{this.site}}</a></em></p>
         <p class="card__summary">{{this.summary}} <a href="{{this.link}}" class="link link--primary" target="_blank">Read More</a></p>
      </div>

      {{#if this.hasNote}}
         <div class="card__note" id="note-{{this._id}}">
            <p><h6>Article Note</h6></p>
            <p>
               <strong>Title:</strong> <span id="note-title-text-{{this._id}}">{{this.note.title}}</span>
            </p>
            <p>
               <strong>Note:</strong> <span id="note-body-text-{{this._id}}">{{this.note.body}}</span>
            </p>
         </div>
      {{else}}
         <div class="card__note card__note--hidden" id="note-{{this._id}}">
            <h6>Article Note</h6>
            <p>
               <strong>Title:</strong> <span id="note-title-text-{{this._id}}"></span>
            </p>
            <p>
               <strong>Note:</strong> <span id="note-body-text-{{this._id}}"></span>
            </p>
         </div>
      {{/if}}
      

      <div class="card__footer">
         <button id="add-note-btn-{{this._id}}" class="btn btn--primary btn--lightBg btn--block btn--note" data-id="{{this._id}}" data-open="false" data-has-note="{{this.hasNote}}">
            <span class="btn__span">
               <span class="text--gradient">
                  {{#if this.hasNote}}
                     Edit Note
                  {{else}}
                     + Add Note
                  {{/if}}
               </span>
            </span>
         </button>
         <button class="btn btn--accent btn--lightBg btn--block btn--save" {{#if this.saved}}data-saved="true"{{else}}data-saved="false"{{/if}} data-id="{{this._id}}" data-is-saved-page="{{this.isSavedPage}}">
            <span class="btn__span">
               <span class="text--gradient-accent">
                  {{#if this.saved}}
                        Remove from Saved
                     {{else}}
                        ❤ Save Article
                  {{/if}}
               </span>
            </span>
         </button>
      </div>
      <div id="note-wrap-{{this._id}}" class="card__content-toggler card__content-toggler--hidden" data-open="false">
         <div class="card__content">

            {{> form}}

         </div>
      </div>

   </div>
</article>