<button id="{{this.id}}" class="btn btn--{{this.color}} btn--{{this.bg}} btn--pill">
    <span class="btn__span">
        <span class="text--{{this.textClass}}">
            {{this.text}}
        </span>
    </span>
</button>

